.login-dark {
    height:1000px;
    background:#475d62 url(../img/star-sky.jpg);
    background-size:cover;
    position:relative;
}

.login-dark h3 {
    max-width:350px;
    width:90%;
    background-color:#1e2833;
    padding: 40px;
    border-radius:4px;
    transform:translate(-50%, -50%);
    position:absolute;
    top:15%;
    left:50%;
    color:#fff;
    box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}

.login-dark h3:after {
    content: '';
    display: block;
    height: 10px;
}
.form {
    max-width:350px;
    width:90%;
    background-color:#1e2833;
    padding:40px;
    border-radius:4px;
    transform:translate(-50%, -50%);
    position:absolute;
    top:35%;
    left:50%;
    color:#fff;
    box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}

.login-dark .illustration {
    text-align:center;
    padding:15px 0 20px;
    font-size:100px;
    color:#2980ef;
}

.form .form-control {
    background:none;
    border:none;
    border-bottom:1px solid #434a52;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
}

.form .btn-primary {
    background:#214a80;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:26px;
    text-shadow:none;
    outline:none;
}

.form .btn-primary:hover, .login-dark form .btn-primary:active {
    background:#214a80;
    outline:none;
}

.form .forgot {
    display:block;
    text-align:center;
    font-size:12px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
}

.form .forgot:hover, .login-dark form .forgot:active {
    opacity:1;
    text-decoration:none;
}

.form .btn-primary:active {
    transform:translateY(1px);
}

/*  TODO LIST */

#todo-list.dark {
    height:1000px;
    background:#475d62 url(../img/star-sky.jpg);
    background-size:cover;
    position:relative;
}


/* Basic Style */

#todo-list .container {
    max-width:500px;
    width:90%;
    background-color:#1e2833;
    padding:40px;
    border-radius:4px;
    transform:translate(-50%, -50%);
    position:absolute;
    top:50%;
    left:50%;
    color:#fff;
    box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}
#todo-list ul {
    margin: 0;
    padding: 0;
}
#todo-list li * {
    float: left;
}
#todo-list li, h3 {
    clear:both;
    list-style:none;
}
#todo-list input, button {
    outline: none;
}
#todo-list button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    margin: 10px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
}
#todo-list button:hover {
    color: #333;
}
/* Heading */
#todo-list h3,
#todo-list label[for='new-task'] {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #fff;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}
#todo-list input[type="text"] {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}
#todo-list input[type="text"]:focus {
    color: #333;
}

/* New Task */
#todo-list label[for='new-task'] {
    display: block;
    margin: 0 0 20px;
}
#todo-list input#new-task {
    float: left;
    width: 318px;
}
#todo-list p > button:hover {
    color: #0FC57C;
}

/* Task list */
#todo-list li {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}
#todo-list li > input[type="checkbox"] {
    margin: 0 10px;
    position: relative;
    top: 15px;
}
#todo-list li > label {
    font-size: 18px;
    line-height: 40px;
    width: 237px;
    padding: 0 0 0 11px;
}
#todo-list li >  input[type="text"] {
    width: 226px;
}
#todo-list li > .delete:hover {
    color: #fff;
}

/* Completed */
#todo-list #completed-tasks label {
    text-decoration: line-through;
    color: #fff;
}


#todo-list ul li.editMode input[type=text] {
    display:block;
}

#todo-list ul li.editMode label {
    display:none;
}